html {
    font-size: 20px;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/НИ_ИрГТУ_%28ИрНИТУ%29.jpg/1024px-НИ_ИрГТУ_%28ИрНИТУ%29.jpg?20150314135136');
    background-repeat: repeat;
    background-size: cover;
}

body {
    height: 75%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body > div, body > main, body > section {
    flex-grow: 1;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background__wrapper {
    width: 900px;
    background-color: rgba(20, 20, 20, 0);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
}

.resume__wrapper {
    margin: 1%;
    text-shadow: 1px 1px 16px rgb(53, 51, 51);
    color: #fceaea;
}

.resume__header {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.resume__title {
    margin-left: 10px;
    margin-bottom: 100px;
    align-self: flex-end;
}

.resume__content {
    text-align: justify;
    margin: 0.5% 2% 5% 2%;
}

.resume__element:not(:first-child) {
    border-top: 1px solid gray;
}

.image__wrapper {
    width: 150px;
}

.image__wrapper img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 7%;
}

.resume-image {
    width: 100%;
    height: auto;
    display: block;
}

.icon {
    height: 25px;
    width: 25px;
}
